<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.edu.victor.Dao.CourseDao">
    <!--课程下的章节和小节查询-->
    <resultMap id="ChapterMap" type="ChapterDto">
        <id column="chapter_id" property="id"/>
        <collection property="sectionList" column="chapter_id" select="getSectionByStep" ofType="Section"/>

    </resultMap>
    <resultMap id="CourseMap" type="CourseDtoForSpecific">
        <id column="course_id" property="id"/>
        <collection property="chapterDtoList" column="course_id" ofType="ChapterDto" select="getChapterByStep"/>
    </resultMap>
    <resultMap id="PageCourseware" type="Page">
        <collection property="pageData" ofType="Courseware" autoMapping="true"/>
    </resultMap>
    <resultMap id="PageCourse" type="Page">
        <collection property="pageData" ofType="CourseDtoForSimple" autoMapping="true"/>
    </resultMap>
    <resultMap id="LearningProgressMap" type="LearningProgress" autoMapping="true">
        <association property="student" javaType="Student" autoMapping="true">

        </association>
    </resultMap>
    <resultMap id="PageLearningProgress" type="Page" autoMapping="true">
        <collection property="pageData" resultMap="LearningProgressMap" autoMapping="true"/>
    </resultMap>
    <select id="getCourseInfo" resultMap="CourseMap">
        select id as course_id from course where id = #{id};
    </select>
    <select id="getChapterByStep" resultMap="ChapterMap">
        select id as chapter_id,title,superior_id from course_chapter where superior_id = #{id} order by weights;
    </select>
    <select id="getSectionByStep" resultType="Section">
        select id,title,superior_id,url from course_section where superior_id = #{id} order by weights;
    </select>



    <select id="searchCoursewareByPage" resultMap="PageCourseware">
        select id,time,url,title from courseware where superior_id = #{filter.id}
    </select>
    <select id="searchCoursesByPage" resultMap="PageCourse">
      select course.id as id,teacher.name as teaName,title,url,code,description from course join teacher on course.tea_id = teacher.id <where>
        <if test="filter.id != null">tea_id = #{filter.id}
        </if>
         </where>
    </select>
    <insert id="addCourse" parameterType="Course">
        insert into course(tea_id,title,description,url,code)value (#{teaId},#{title},#{description},#{url},#{code});
    </insert>
    <insert id="addChapter" parameterType="Chapter">
        insert into course_chapter(title,weights,superior_id,tea_id)value (#{title},#{weights},#{superiorId},#{teaId});
    </insert>
    <insert id="addSection" parameterType="Section">
        insert into course_section(title,weights,superior_id,url,tea_id)value (#{title},#{weights},#{superiorId},#{url},#{teaId});
    </insert>
    <insert id="addCourseware" parameterType="Courseware">
      insert into courseware(superior_id,title,url,tea_id)value
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.superiorId},#{item.title},#{item.url},#{item.teaId})
        </foreach>
    </insert>

   <!-- <select id="searchChapter" resultType="Chapter">
        select * from course_chapter where superior_id = #{id} order by weights;
    </select>
    <select id="searchSection" resultType="Section">
        select * from course_section where superior_id = #{id} order by weights;
    </select>-->
    <select id="getCourseImageUrl" resultType="String">
        select url from course where id = #{id};
    </select>
    <select id="getCoursewareUrl" resultType="String">
        select url from courseware where id = #{id};
    </select>

    <select id="getSectionUrl" resultType="String">
        select url from course_section where id = #{id};
    </select>
    <select id="getSectionUrlByChapter" resultType="String">
        select url from course_section where superior_id = #{id};
    </select>
    <select id="getSectionUrlByCourse" resultType="String">
    select url from course_section where superior_id in  (SELECT id from course_chapter where superior_id = #{id});

    </select>
    <select id="getCoursewareUrlByCourse" resultType="String">
        select url from courseware where superior_id = #{id};
    </select>
    <select id="getStuByCourse" resultType="User">
        select stu_id as id,0 as is_teacher from stu_course where course_id = #{Id}
    </select>
    <select id="getStuLearningProgressByPage" resultMap="PageLearningProgress">
        select name,username,phone,stu_course.id as id,course_id,learning_progress,graduated from stu join stu_course on stu.id =stu_course.stu_id
         <where>
        course_id = #{filter.course_id}
        <if test="filter.classNum != null">
          and  stu.class_num = #{filter.classNum}
        </if>
         <if test="filter.stuNum != null">
             and stu.username = #{filter.stuNum}
         </if>
         <if test="filter.stuName != null">
             and name like "%${filter.stuName}%"
         </if>
    </where>

    </select>
    <delete id="deleteCourse">
        delete from course where id = #{0} and tea_id = #{1};
    </delete>
    <delete id="deleteChapter">
        delete from course_chapter where id = #{0} and tea_id = #{1};
    </delete>
    <delete id="deleteSection">
        delete from course_section where id = #{0} and tea_id = #{1};
    </delete>
    <delete id="deleteCourseware">
        delete from courseware where id = #{0} and tea_id = #{1};
    </delete>
    <!--课程信息更改-->
    <update id="updateCourseInfo" >
        update course
        <set>
        <if test="title != null">
            title = #{title},
        </if>
        <if test="description != null">
            description = #{description}
        </if>
        <if test="code != null">
            code = #{code
        </if>}
    </set>
      where id = #{id} and tea_id = #{teaId};
    </update>
    <!--章节信息的更改-->
    <update id="updateChapterInfo">
        update course_chapter
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="weights != null">
                weights = #{weights}
            </if>
        </set>
        where id = #{id} and tea_id = #{teaId};
    </update>
    <!--小节信息更改-->
    <update id="updateSectionInfo">
        update course_section
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="weights != null">
                weights = #{weights},
            </if>
            <if test="superior_id"/>
              superior_id = #{superiorId}
        </set>
        where id = #{id} and tea_id = #{teaId};
    </update>
    <resultMap id="PageCourseForApp" type="Page">
        <collection property="pageData" ofType=""
    </resultMap>

    <!--APP端-->
    <select id="searchCourseByPageForApp" resultMap="PageCourse">
        select course.id as id,teacher.name as teaName,title,url,code,description from course join teacher on course.tea_id = teacher.id
        <where>
        <if test="filter.title != null">
          title = #{filter.title}
        </if>
    </where>
    </select>
    <select id="authCourseCode" resultType="Integer">
        select id from course where id = #{id} and code = #{code}
    </select>
</mapper>

