<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.edu.victor.Dao.QAndADao">
    <resultMap id="PageQuestion" type="Page">
        <collection property="pageData" ofType="QuestionDto" autoMapping="true"/>
    </resultMap>
    <resultMap id="QuestionSpecificDto" type="QuestionDtoForSpecific">
        <id column="id" property="id"/>
        <collection property="answerList" ofType="Answer" column="id" select="getAnswerByQuestion"/>
    </resultMap>
    <insert id="addQuestion" parameterType="Question">
        insert into question(title,content,qsr_id,qsr_name,course_id,is_teacher)value(#{title},#{content},#{qsrId},#{qsrName},#{courseId},#{isTeacher});
    </insert>
    <insert id="addReply" parameterType="Answer">
        insert into answer(content,asr_id,asr_name,qs_id,superior_id,is_teacher)value(#{content},#{asrId},#{asrName},#{qsrId},#{superiorId},#{isTeacher})
    </insert>
    <select id="getQuestionByPage"  resultMap="PageQuestion">
        select * from question where course_id = #{filter.courseId}
    </select>
    <select id="getSpecificQuestion" resultMap="QuestionSpecificDto">
      select * from question where id = #{id}
    </select>
    <select id="getAnswerByQuestion" resultType="Answer">
        select * from answer;
    </select>
</mapper>
