<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.edu.victor.Dao.UserDao">
    <resultMap id="MessagesMap" type="Page">
        <collection property="pageData" ofType="Message" autoMapping="true"/>
    </resultMap>
    <select id="teacherLogin" parameterType="Teacher" resultType="Teacher">
      select IFNULL(MAX(id),-1) as id,name,email,avatar from teacher where username = #{username} and password = #{password};
    </select>
    <update id="updateTeaInfo" parameterType="Teacher">
        update teacher
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="avatar != null">
                avatar = #{avatar}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateStuInfo" parameterType="Student">
        update stu
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="avatar != null">
                avatar = #{avatar}
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
            <if test="birth != null">
                birth = #{birth}
            </if>
            <if test="sexual != null">
                sexual = #{sexual}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="teacherInfo" resultType="Teacher">
        select email,name,id,avatar,username from teacher where id = #{id};
    </select>
    <select id="getUserMessagesByPage" resultMap="MessagesMap">
        select message.id,`name`,content_id,content,category,`time` from message join msg_user on msg_id = message.id where msg_user.is_teacher = #{filter.isTeacher} and msg_user.target_id = #{filter.targetId} order by `time` desc
    </select>
    <select id="getUnreadMessageNum" resultType="Integer">
        select count(id) from msg_user where target_id = #{targetId} and `read` = '0' and is_teacher = #{isTeacher};
    </select>
    <update id="setAlreadyRead">
          update msg_user set `read` = '1' where target_id = #{targetId} and `read` = '0' and is_teacher = #{isTeacher} and msg_id in
          <foreach collection="MessageList" item="item" open="(" close=")" separator=",">
              #{item.id}
          </foreach>
    </update>
    <update id="updateTeaAvatar">
        update teacher set avatar = #{avatar} where id =#{id}
    </update>
    <update id="updateStuAvatar">
        update stu set avatar = #{avatar} where id = #{id}
    </update>

</mapper>
