<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.edu.victor.Dao.VideoPlayDao">
    <resultMap id="VideoCommentPage" type="Page">
        <collection property="pageData" ofType="VideoCommentDto" autoMapping="true"/>
    </resultMap>
    <insert id="addNewPlayRecord" parameterType="VideoPlay">
        insert into play_record(stu_id,sec_id,location,over)values(#{stuId},#{secId},#{location},#{over});
    </insert>
    <insert id="updatePlayRecord">
        update play_record set location = #{location} where stu_id = #{stuId} and sec_id = #{secId};
    </insert>
    <update id="playOver" parameterType="VideoPlay">
          update play_record set over = #{over} where stu_id = #{stuId} and sec_id = #{secId};
    </update>
    <insert id="pubComment" parameterType="VideoComment">
        insert into video_comment(sec_id,stu_id,content,location)value (#{secId},#{stuId},#{content},#{location});
    </insert>
    <select id="getVideoCommentListByPage" resultMap="VideoCommentPage">
        select video_comment.id as id,stu_id,stu.name as name,stu.avatar as avatar,content,location,`time` from video_comment join stu on stu.id = video_comment.stu_id where sec_id = #{filter.secId} order by `time` desc
    </select>
    <select id="getHistoryRecord" resultType="HistoryRecord">
        select play_record.sec_id as sectionId,course.title as courseName,course.id as courseId,course_chapter.title as chapterName,course_chapter.title,course_section.title as sectionName,course.url from play_record join course join course_chapter join course_section on play_record.sec_id = course_section.id and course_section.superior_id = course_chapter.id and course_chapter.superior_id = course.id where play_record.stu_id = #{stuId} and play_record.sec_id in
        <foreach collection="idList" separator="," item="item" index="index" open="(" close=")">
          #{item}
        </foreach>
    </select>
</mapper>
